#footerContainer{
    position:absolute ;
    bottom: 0%;
    background-color:gray;
    height: 40px;
    width: 100%;
   
    p{
        text-align: left;
        color: white;
        
    }
}