<h3>
    this is header
    
</h3>

<% if (locals.user) { %>
    <li><a href="/profile">Profile</a></li>
       <li><a href="/signout">Sign Out</a></li>
    <% } else { %>
        <li><a href="signin"> Sign In</a></li>
            <li><a href="signup">Sign Up</a></li>
             <% } %>  
     