<link rel="stylesheet" href="css/layout.css">
<h1>
    Hey Buddy Welcome to Codeial
</h1>

<h3>
    Log In
</h3>
<form action="./signIn" method="post">
   Email: <input type="email" name="email" id="emailId" required placeholder="Enter Email id"><br><br>
   Password: <input type="password" name="password" id="password">
</form>
<br>
<br>
<a href="signup"> New User Click Here </a>