<link rel="stylesheet" href="/css/home.css">


    <h1>
        Hey Buddy Welcome to Codeial
    </h1>

        <form action="/post/createPost" method="post">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
        <ul>
            <% for( i of post ) { %>
                     <%- include('_post'); -%>

                    <% } %>
            </ul>
      